<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{post.title}}</mat-card-title>
    <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>TODO: Краткое описание статьи</p>
    <p align="end">{{ post.date | date: 'dd.MM.yyyy'}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/post', post.id]">Открыть</button>
  </mat-card-actions>
</mat-card>
